<footer class="mt-4 bg-footer">

	<div class="container">
		<div class="mx-auto row align-items-center">
			<div class="py-4 col-6 d-flex">
				<img loading="lazy" style="margin:2rem; width:45%;" src="{{ asset('svg/carte-impro-solutions.svg') }}" alt="Carte de france Impro Solutions, agences à Metz et à Nantes et datacenter à Metz">
				<address class="text-white">
					<p class="font-weight-bold mb-1 lt-6">Impro Nantes</p>
					<p class="font-weight-bold mb-1">35 Rue Bobby Sands</p>
					<p class="font-weight-bold">44 800 Saint-Herblain</p>
					<br>
					<p class="font-weight-bold mb-1 lt-6">Impro Metz</p>
					<p class="font-weight-bold mb-1">1 rue du Jardin d’Écosse</p>
					<p class="font-weight-bold">57 245 Peltre</p>
				</address>
			</div>
			<div class="py-4 col-6 d-flex justify-content-around">
				<nav class="">
					<p class="font-weight-bold text-white text-uppercase mb-1 lt-6">Entreprise</p>
					<ul class="nav flex-column">
						<li class="puce-anim text-white custom-puce">
							<a title="Un interlocuteur unique pour tous vos besoins" href="https://impro-solutions.fr/entreprise-informatique-nantes" class="text-decoration-none">Nos engagements</a>
						</li>
						<li class="puce-anim text-white custom-puce">
							<a title="Impro Solutions, les infos pratiques du services numériques" href="https://impro-solutions.fr/infos-pratiques" class="text-decoration-none">Infos Pratiques</a>
						</li>
						<li class="puce-anim text-white custom-puce">
							<a title="Travaillerez dans une équipe géniale" href="https://impro-solutions.fr/entreprise-informatique-nantes/recrutement" class="text-decoration-none">Recrutement</a>
						</li>
						<li class="puce-anim text-white custom-puce">
							<a title="Une infrastructure dotée des dernières innovations technologiques" href="https://impro-solutions.fr/les-services" class="text-decoration-none">Les Services</a>
						</li>
						<li class="puce-anim text-white custom-puce">
							<a title="Des conseillers au service support informatique pour des conseils stratégiques pour vous dépanner et répondre à vos tickets" href="https://impro-solutions.fr/infos-pratiques/support-clients" class="text-decoration-none">Support Clients</a>
						</li>
						<li class="puce-anim text-white custom-puce">
							<a title="Plan de site" href="https://impro-solutions.fr/plan-de-site" class="text-decoration-none">Plan de site</a>
						</li>
						<li><br></li>
						<li class="puce-anim text-white custom-puce">
							<img alt="icon appel numero telephone" class="icon-tel-footer" src="{{ asset('svg/phone_msg_footer.svg') }}" height="24" width="24">
							<a href="tel:+33244760339" class="text-decoration-none">+33 244 760 339</a>
						</li>
					</ul>
				</nav>
                <nav class="">
				<p class="font-weight-bold text-white text-uppercase mb-1 lt-6">Services</p>
                <ul class="nav flex-column">
					<li class="puce-anim text-white custom-puce"><a title="Fibre optique, Réseaux sécurisés nouvelle génération, firewall et liens de secours" href="/entreprise-reseau-informatique" class="text-decoration-none">Réseau très haut débit</a></li>
					<li class="puce-anim text-white custom-puce"><a title="Externalisation du système d'information, cloud en datacenter multi-certifié et infogérance et PRA-PCA" href="/externalisation-informatique" class="text-decoration-none">Externalisation du SI</a></li>
					<li class="puce-anim text-white custom-puce"><a title="Communication unifiées, Téléphonie fixe et mobile professionnelle et visioconférence" href="/telephonie-pro" class="text-decoration-none">Télécommunications</a></li>
					<li class="puce-anim text-white custom-puce"><a title="Équipement informatique, conseils et maintenance, location et vente" href="/equipement-informatique-entreprise" class="text-decoration-none">Matériel informatique</a></li>
                    <li class="puce-anim text-white custom-puce"><a title="Logiciel et Applicatif, Conception d'application sur-mesure, Gestion et support" href="/logiciel-entreprise-et-applications" class="text-decoration-none">Logiciel et applicatif</a></li>
                    <li class="puce-anim text-white custom-puce" class="text-decoration-none"><a title="Développement de Site Internet et Référencement" href="/solutions-digitales">Sites web</a></li>
                </ul>
            </nav>
			</div>

		</footer>
