<header>
	<div class="container-fluid text-white d-flex justify-content-end bg-dkgrey">
		<nav class="navbar">
			<ul class="nav text-uppercase">

				<li class="m-2 nav-item">
                    <i class="far fa-envelope"></i>
                    <a href="https://impro-solutions.fr/infos-pratiques/contact-impro-solutions" class="ml-1 text-white text-decoration-none">&nbsp;contact</a>
                </li>
				<li class="m-2 nav-item">
                    <i class="fas fa-sync-alt fa-spin"></i>
                    <a href="https://impro-solutions.fr/actualites-numeriques-entreprises" class="text-white text-decoration-none">&nbsp;actualités</a>
                </li>
				<li class="m-2 nav-item">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <a href="tel:+33244760339" class="text-white text-decoration-none">&nbsp;02 44 76 03 39</a>
                </li>
			</ul>
		</nav>
	</div>
	<div class="container-fluid pl-5 pt-3 pb-3 pr-0 d-flex bg-palegrey">
		<a href="https://impro-solutions.fr/" rel="home" aria-current="page">
			<img alt="Impro Solutions" src="{{ asset('images/logo_impro sm.png') }}">
		</a>
		<p class="m-2 text-muted align-self-center">Services Numériques</p>
	</div>
</header>
