<header>
	<div class="container">
		<div class="d-flex flex-column justify-content-between pt-5">
            
                <a href="https://www.abalone-interim.com/fr/"><img class="nav-logo" src="{{ asset('images/logo_abalone.png') }}" alt="Logo Abalone" alt="agences d'emplois ABALONE"/></a>
            
        </div>
	</div>
</header>
