<footer>

	<div>

		<table style="height: 68px; width: 869px">
			<tbody>
				<tr>
					<td style="width:145px; font-family: arial; height: 20px; font-size: 10pt" valign="middle">
						<p style="font-size: 10pt; font-family: Arial" align="center">
							<img style="height: 99px; width: 195px" border="0" src="{{ email.image('@images/logo abalone-group.gif') }}" width="195" height="99">
						</p>
					</td>
					<TD style="font-size: 10pt; height: 25px; font-family: Arial; width: 450px; border-left: #9a9a9a 1px solid" valign="top">
						<P style="font-size: 10pt; font-family: Century Gothic">&nbsp;<STRONG>Fabrice COUPRIE<br>&nbsp;</STRONG>Directeur des Systèmes d'Information, Coordination Europe<br>&nbsp;T:&nbsp;<a href="callto:+352 27 99 37 56 11">+352 27 99 37 56 11</a>
							/&nbsp;<a href="callto:+33 6 29 77 00 24">+33 6 29 77 00 24</a><br>&nbsp;<a href="mailto:Fabrice.COUPRIE@abalone-group.com">Fabrice.COUPRIE@abalone-group.com</a>
						</P>
						<P style="font-size: 10pt; font-family: Century Gothic">
							<font color="#000000">&nbsp;5 Rue jean de Beck
								<br>&nbsp;L-7308 HEISDORF<br>&nbsp;<A href="http://www.abalone-emploi.com/">http://www.abalone-emploi.com/</A>
							</font><br><br>&nbsp;<a class="socialLink" href="https://twitter.com/Abalone_France"></a>&nbsp;<a class="socialLink" href="https://www.linkedin.com/company/abalone-france/"></a>&nbsp;&nbsp;<a class="socialLink" href="https://www.youtube.com/channel/UCnyc1CeBX8HYqHwLYfdv7jw "></a>&nbsp;
							<a class="socialLink" href="www.abalone-emploi.fr"></a>
						</P>
					</TD>

				</tr>

			</tbody>
		</table>

	</div>

</footer>
