
header {
    margin: 0;
    width: 100%;
    height: 17vh;
    background-color: #3c3c3b;
}

footer {
    margin: 0;
    width: 100%;
    height: 17vh;
    color:#fff;
    padding:2rem;
    background-color: #e91c24;
}

main {
    margin: 0;
    width: 100%;
    height: 66vh;
}

.social-icons a {
    padding:0.5rem;}
   

.social-icons a:hover {
    animation: rotate-btn .5s linear 1;
}