{% extends '@EasyAdmin/page/content.html.twig' %}


{% block main %}

	{% if test_envoi %}
		<h2>Vous allez effectuer un test d'envoi d'emails pour la campagne
			{{ campagne.name }}</h2>
		<form name="form_email_address" method="POST" class="card-body">
			<fieldset class="mb-4">
                <legend>Saisir les adresses emails pour l'envoi de test en les séparant par une virgule ","</legend>
				<label for="email_address" class=" form-label required">
					Email(s)
				</label>
				<input type="email" id="email_address" name="email_address" multiple required class="form-control required"/>
			</fieldset>

			<fieldset class="mb-4 text-center">
				<button type="submit" name="submit" class="btn btn-success btn-lg" onclick = return(confirm('Etes-vous sûr de vouloir envoyer les emails de test ?'));>
					Envoyer
				</button>
			</fieldset>
		</form>
	{% endif %}
	<h2 class="text-center">Bienvenue sur le tableau de bord de SwordPhish</h2>

{% endblock %}
