{% extends 'base.html.twig' %}

{% block title %}Hello DestinataireController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>GAGNEZ DES TICKETS DE CINEMA</h1>
    <p>
        Plus vite vous envoyez le formulaire ci-dessous, plus de chance
        vous aurez à gagner vos tickets.
    </p>
    <h2>Nombre de tickets restants disponibles : 10</h2>
    <div>
        {{form_start(form_destinataire)}}
        {{form_widget(form_destinataire)}}
        {{form_end(form_destinataire)}}
    </div>
    <p id="js"></p>
    
</div>
{% endblock %}
